body {
    font-family: Arial, sans-serif;
    background-color: #ffede5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 900px;
    margin: auto;
}
a {
    text-decoration: none;
    color: #740209;
}

/*nav and header*/
.site-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #7292f3;
    text-align: center;
}
.logo-box {
    width:  80px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-image: url("logo.png");
}
.site-title {
    font-size: 2em;
    font-weight: bold;
    color: #740209;
    justify-content: center;
}
.main-nav {
    background-color: ffede5;
    padding: 10px 0;
    justify-content: space-around;
    border-bottom: 1px solid #7292f3;
    display: flex;
}
.main-nav a {
    padding: 5px 15px;
}
.main-nav a:hover {
    background-color: #f49465;
    color: #ffffff;
    border-radius: 10px;
}
.main-nav a:visited {
    color: #7292f3;
}
.main-nav a:link {
    color: #740209
}

/*main content */
.main-content {
    flex: 1;
    padding: 20px;
}
.hero-section {
    margin-bottom: 30px;
}
.image-placeholder {
    width: 100%;
    height: 200px;
    boarder 1px solid #7292f3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.about-section {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}
.portrait-placeholder {
    width: 150px;
    height: 400px;
    border: 1px solid #7292f3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("portrait.jpg");
}
.bio-content {
    flex: 1;
}
.bio-content h2 {
    margin-top: 0;
}
.bio-content p {
    height: 80;
    width: 80%;
    margin-bottom: 10px;
}
.Gallery-Store-section {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.content-box {
    flex-basis: 33%;
}
.box-placeholder {
    width: 100%;
    height: 200px;
    border: 1px solid #7292f3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*footer*/
.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-top: 1px solid #7292f3;
    background-color: #ffede5;
    margin-top: auto;
}
.footer-links a {
    margin-left: 20px;
}